        <!-- Contenido principal -->
        <div class="content" id="content">
            <h1>Bienvenido a Home</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, dolorum reprehenderit saepe ad, dolorem recusandae commodi aliquid laborum aut reiciendis ipsum nobis quae ut quibusdam iste dolores asperiores veniam omnis!</p>
        </div>